.padding-h-100 {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
}

.margin-h-100 {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
}

.padding-v-34 {
    padding-top: 2.125rem;
    padding-bottom: 2.125rem;
}

.padding-v-20 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.padding-v-70 {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
}

.button-border {
    border: 0.125rem solid #666666;
    padding: 0.6875rem 1.75rem;
    border-radius: 0.3125rem;
}

.fw-bold {
    font-weight: bold;
}

/* Responsive utilities */
@media (max-width: 90rem) {
    .padding-h-100 {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .margin-h-100 {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@media (max-width: 75rem) {
    .padding-h-100 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .margin-h-100 {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .padding-v-70 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}
